.cardContainer{
    margin-top: 3px;
    display: flex;
    /* border: 2px solid black; */
    padding-left: 30px;
    padding-top: 10px;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.cardContainer::-webkit-scrollbar {
    width: 0; /* Hide scrollbar width */
    background: transparent; /* Optional: Set a transparent background */
}