.card{
    min-width: 300px;
    max-width: 300px;
    color: rgb(226, 226, 253);
    margin: 0px 10px;
}
.heading{
    height: 50px; 
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    background-color: rgb(3, 3, 71);
    font-size: 20px;
    font-weight: 500;
}
.content{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.bottom {
    background-color: rgb(3, 3, 71);
    border: 2px solid black;
    height: 300px;
    overflow-y: scroll;
}