/* Home.css */

.home-container {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
    color: #fff; /* Set text color to contrast with the background */
  }
  
  header h1 {
    font-size: 2em;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .feature {
    text-align: center;
    color: #fff; /* Set text color to contrast with the background */
  }
  
  .cta {
    text-align: center;
    color: #fff; /* Set text color to contrast with the background */
  }
  
  .cta button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .cta button:hover {
    background-color: #0056b3;
  }
  
  /* Background image styles */
  .home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assests/background.webp'); /* Replace with your image path */
    background-size:cover;
    background-position: center;
    filter: blur(3px); /* Adjust the blur amount as needed */
    z-index: -1000;
  }
  
  /* Adjust the text color to ensure readability */
  