/* Navbar.css */

.navbar {
    background-color: rgb(3, 3, 71);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  margin: 0px 20px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo span {
  margin: auto;
  font-size: 20px;
  color: rgb(187, 204, 248);
  font-weight: 600;
  cursor: pointer;
}

  
  .nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    display: inline-block;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  